<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nj.baijiayun.module_public">


    <application>
        <activity android:name=".ui.LoginActivity"></activity>
        <activity android:name=".ui.SetPwdActivity"></activity>

    </application>

</manifest>
