<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nj.baijiayun.module_distribution">

    <application>
        <activity
            android:name=".ui.DistrubitionShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.list.DistributionListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.list.DistributionFliterListActivity"
            android:screenOrientation="portrait" />
    </application>


</manifest>
