<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nj.baijiayun.module_course">

    <application>

        <activity
            android:screenOrientation="portrait"
            android:name=".ui.wx.learnCalendar.LearnCalendarActivity"
            android:theme="@style/PublicAppWhiteBgTheme">
        </activity>

        <activity
            android:screenOrientation="portrait"
            android:theme="@style/PublicAppWhiteBgTheme"
            android:name=".ui.wx.learnCalendar.LearnCalendarNewActivty"/>

        <activity
            android:screenOrientation="portrait"
            android:name=".ui.wx.search.CourseSearchActivity"/>
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.wx.courseDetail.WxCourseDetailActivity"/>
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.wx.mylearnlist.MyCourseActivity"/>
        <activity
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTask"
            android:name=".ui.wx.mylearnddetail.MyLearnedCourseDetailActivity"
            android:theme="@style/PublicAppWhiteBgTheme"/>
        <!--            android:configChanges="keyboardHidden|orientation|screenSize"-->

    </application>

</manifest>